@font-face {
    font-family: "calibre";
    src: url("fonts/CalibreRegular.otf");
}
@font-face {
    font-family: "calibre";
    src: url("fonts/CalibreSemibold.otf");
    font-weight: bold;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
  }
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A192F;
    color: #ffffff;
    font-family: 'calibre';
    padding-top: 6.25em;
    outline: 2px solid pink;
}

div.project>img{
    width: 80%;
    height: 260px;
    object-fit: cover;
}

nav{
    width: 100%;
    padding: 1.25em 4.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.logo{
    position: relative;
    font-size: 3rem;
}

div.logo::before{
    position: absolute;
    content: '';
    top: -10px;
    left: -19px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 4px solid #50cdb5;
}
ul.nav-items{
    display: flex;
    color: #8892b0;
    gap: 2em;
    list-style-type: none;
    font-size: 25px;
}

ul.nav-items>li a{
    text-decoration: none;
    color: #8892b0;
}
ul.nav-items>li a{
    cursor: pointer;
    transition: color 300ms ease-in;
}
ul.nav-items>li a:hover{
    color: #50cdb5;
}

section.about{
    padding-top: 8em;
    width: 70%;
    margin: 0 auto;
    margin-top: 9.25em;
    display: flex;
    flex-direction: column;
}

span.hi{
    color: #50cdb5;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

h1.header-about{
    font-size: 5rem;
    font-weight: bold;
    color: #ccd6f6;
}
div.hamburger{
    display: none;
}
h2.desc{
    font-size:4rem;
    font-weight: bold;
    color: #8892b0;
}

p.detail-desc{
    white-space: pre-line;
    color: #65718c;
    font-size: 1.25rem;
    line-height: 1.4;
}

section.projects{
    margin-top: 12.5em;
    display: flex;
    flex-direction: column;
}

h3.project-header{
    width: 80%;
    font-size: 3.75rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 3.33em;
    color:#ccd6f6;
}


div.projects{
    padding: 0 3em;
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
}

div.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding:2.5em 0.625em;
    background-color: #112240;
    box-shadow: 0 0 10px 10px #0A192F;
}

div.project>h3{
    font-size: 1.5rem;
    color: #ccd6f6;
}

button{
    background-color: transparent;
    padding: 0.625em 1.25em;
    color: #59e2c5;
    border: 2px solid #59e2c5;
}
button:hover,button:focus-visible{
    opacity: 70%;
    transition: all 200ms ease-in-out;
}

button:active {
    transform: scale(0.98);
    transition: all 200ms ease-in-out;
    /* Scaling button to 0.98 to its original size */
}
div.project .icons{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2.5em;
}

footer.contact-me{
    margin-top: 6.25em;
}

div.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.footer-heading{
    font-size: 2.5rem;
    color: #ccd6f6;
}

button.hi{
    margin: 10px 0;
}

div.icons a {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.625em 0.3125em;
    color: #65718c;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #50cdb5;
    opacity: 100%;
    background-color: #0A192F;
}

div.icons a:hover,div.icons a:focus-visible{
    color: #50cdb5;
    transition: all 200ms ease-in-out;
}

/* media queries */

@media (max-width:700px){
    html{
        font-size: 10px;
    }

    header
    {
        position: relative;
    }
    nav{
        padding: 0;
        padding: 10px 30px;
    }
    nav>ul.nav-items{
        display: none;
    }

    div.logo{
        position: relative;
        font-size: 2.5rem;
    }
    
    div.projects{
        padding: 0;
    }

    div.project{
        padding: 10px;
    }
    div.logo::before{
        position: absolute;
        content: '';
        top: -5px;
        left: -10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid #50cdb5;
    }

    div.hamburger{
        height: 59px;
        position: absolute;
        font-size: 2.5rem;
        top: 1rem;
        right: 6rem;
        display: block;
        color: #50cdb5;
    }

    div.hamburger:hover,div.hamburger:focus-visible{
        color: #ccd6f6;
        transition: all 200ms ease-in-out;
    }
}